package templates

import "godo/data"

templ App(todos []data.Todo) {
	<main class="mx-auto h-screen p-4 bg-amber-400 flex items-center flex-col">
		<h1 class="text-7xl font-bold text-white">Todo List</h1>
		@AddTodo()
		@Todos(todos)
	</main>
}
